{{> head}}
{{> navbar}}

<div class="row">
    
    <div class="col-8">
        <h1>Hombre Lobo</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi corporis earum laborum, modi rem vel velit voluptate voluptatibus. Deleniti dignissimos doloremque ex maiores minus quasi quia repellat tempora ut!
        </p>
    </div>
    
    <div class="col-4">
        <img src="assets/img/hombre-lobo.jpg" alt="" class="img-thumbnail">
    </div>
</div>


{{> footer}}
